.material-half-bg {
  height: 100vh;
  background-color: #e7e7e7;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  .cover {
    background-color: #004893;
    height: 50vh;
  }
}

.login-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100vh;
  .logo {
    margin-bottom: 40px;
    color: #fff;
  }
  .login-box {
    position: relative;
    min-width: 350px;
    min-height: 390px;
    background-color: #fff;
    -webkit-box-shadow: 0 29px 147.5px 102.5px rgba(0, 0, 0, 0.05), 0 29px 95px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 29px 147.5px 102.5px rgba(0, 0, 0, 0.05), 0 29px 95px 0 rgba(0, 0, 0, 0.16);
    -webkit-perspective: 800px;
    perspective: 800px;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    .login-form, .forget-form {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 40px;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      -webkit-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      .login-head {
        margin-top: 0;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ddd;
        text-align: center;
        div {
          display: inline-flex;
        }
      }
      .button-login {
        width: 100%;
      }
    }
  }
}

button mat-icon {
  margin: 10px;
}



@media (max-width: 720px) {
  .material-half-bg {
    display: none;
  }
  .login-content {
    .logo {
      display: none;
    }
    .login-box {
      position: inherit;
      perspective: inherit;
      min-width: inherit;
    }
  }
}
