<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon (click)="changeSideNavMode()">menu</mat-icon>
  </button>
  <h1 translate routerLink="/home" class="click">APPLICATION_TITTLE</h1>
  <div class="flex-spacer"></div>
  <span>{{headerLabel.welcome | translate}} {{(currentUser$ | async).firstName}}</span>
  <div class="flex-spacer"></div>
  <button mat-icon-button matTooltip="{{headerLabel.language | translate}}" [matMenuTriggerFor]="languageMenu">
    <mat-icon>language</mat-icon>
  </button>
  <button mat-icon-button matTooltip="{{headerLabel.settings | translate}}" [matMenuTriggerFor]="paramMenu">
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-icon-button matTooltip="{{headerLabel.profile | translate}}" [matMenuTriggerFor]="profileMenu">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
<mat-menu #languageMenu="matMenu">
  <button mat-menu-item>fr</button>
  <button mat-menu-item>en</button>
</mat-menu>
<mat-menu #paramMenu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
<mat-menu #profileMenu="matMenu">
  <button mat-menu-item routerLink="/login">Connexion</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
